.ag-cell[col-id="durationInP6"] {
    color: #4C4DFF;
}
.ag-cell[col-id="durationInAssumptions"] {
    color: #FFC662;
}
.ag-cell[col-id="durationInContract"] {
    color: #47DEC3;
}

.ag-cell .like-dislike button#dislike {
    transform: rotate(180deg);
}
.ag-cell .like-dislike button#like.active svg path {
    fill: #4c4dff;
}