.dropdown {
    position: relative;
}
.dropdown .dd-menu {
    position: absolute;
    right: 0;
    left: auto;
    top: 100%;
    display: none;
    background-color: #eee;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.10));
    /* min-width: 190px; */
    min-width: 250px;
    padding: .5rem 0;
    z-index: 1;
}
.dropdown .dd-menu.show {
    display: block;
}